<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Welcome</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>id</th>
                <td th:text="${user.id}"></td>
            </tr>
            <tr>
                <th>name</th>
                <td th:text="${user.name}"></td>
            </tr>
            <tr>
                <th>pwd</th>
                <td th:text="${user.pwd}"></td>
            </tr>
            <tr>
                <th>gender</th>
                <td th:text="${user.gender}"></td>
            </tr>
            <tr>
                <th>email</th>
                <td th:text="${user.email}"></td>
            </tr>
        </table>
    </body>
</html>